.div1{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;

    .div5{
        display: grid;
        gap: 8px;
        max-width: 400px;

        .div2{
            display: grid;
            gap: 8px;

            .div3{
                display: grid;
                align-items: center;
                grid-template-columns:1fr auto;
                text-transform: uppercase;
            }

        }

        .div4{
            gap: 4px;
            display: grid;
            align-items: center;
            grid-template-columns:1fr auto;
        }
    }
}