.div1{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;

    .div2{
        display: grid;
        gap: 16px;

        .div3{
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap: 8px;
            align-items: center;
        }
    }

    .div4{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 8px;
    }
}