.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    z-index: 1000;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;

    .foreground{
        cursor: auto;
        padding: 4px;
        display: grid;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        @media(width >= 600px){
            width: 400px;
        }
    }

    .cancel_background{
        position: absolute;
        opacity: 0.5;
        top: 0;
        right: 0;
        transition: opacity 0.3s ease;

        &:hover {
            opacity: 0.9;
        }

        @media (width < 600px) {
            display: none;
        }

        .cancel_button{
            color: white;
            font-weight: bold;
            font-size: 37px;
            padding: 10px;
        }
    }
}