.div1{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    overflow: hidden;

    .div2{
        display: grid;
        align-items: center;
        text-align: center;
        gap: 16px;

        .div5{
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            .div6{
                .div7{
                    width: 100%;
                    height: 100%;
                    color: white;
                }
            }

            .div8{
                padding: 8px;
                font-size: 20px;
                cursor: pointer;
            }
        }

        .div9{
            display: grid;
            min-height: 40px;
            grid-template-rows: auto 1fr;

            .div10{
                font-weight: 700;
                color: black;
                background-color: white;
            }
        }
    }
}