.div1{
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;

    .div0{
        display: grid;
        max-width: 400px;
        gap: 8px;

        .div2{
            white-space: pre-wrap;
            word-break: break-word;
        }

        .div3{
            display: grid;
            grid-template-columns:1fr auto;
        }
    }
}