.div1{
    height: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;

    .div2{
        display: grid;
        gap: 16px;

        .div3{
            display: grid;
            gap: 8px;
            grid-template-columns: auto 1fr auto;
            align-items: center;
        }
    }
}

.iframe{
    min-width: 400px;
    height: 95dvh;
    border-radius: 15px;
}